<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile App - Password Reset</title>
</head>
<body>
    <p>
        Dear, {{.FullName}}
        click the following link to reset your password in Profile App. The link will expire in 15 minutes.
    </p>
    <p>
        <a href="http://{{.HostName}}/password_reset/{{.Token}}"><input type="button" value="Reset Password">
            http://{{.HostName}}/password_reset/{{.Token}}
        </a>
    </p>
</body>
</html>